:root {
    --fuentePrincipal:"Outfit", sans-serif;
    --colro-White: hsl(0, 0%, 100%);
    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}


body {
    font-size: 1.6rem;
    font-family: var(--fuentePrincipal);
    background-color: var(--Lightgray);
}

main{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.tarjeta{
    max-width: 28.8rem;
    margin: 7rem auto 1rem auto;
    background-color: white;
    padding: 1.6rem;
    border-radius: 2rem;
    -webkit-box-shadow: 10px 10px 33px -6px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 33px -6px rgba(0,0,0,0.25);
    box-shadow: 10px 10px 33px -6px rgba(0,0,0,0.25);
}

.qr_imagen{
    width: 100%;
    border-radius: 1rem;
}

.tex-contenido{
    text-align: center;
}

.tex-contenido .titulo{
    font-size: 22px;
    margin: 2rem 0;
    color: var(--Darkblue);
}

.tex-contenido .subtitulo{
    font-size: 15.5px;
    margin: 1.8rem 0;
    color: var(--Grayishblue);
}

.attribution { 
    font-size: 11px; 
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}